<!DOCTYPE html> <html>
<head>
<title>{{ page.title }}</title>
<!-- link to main stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/main.css"> </head>
<body>
<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/blog">Blog</a></li> </ul>
</nav>
<div class="container">
{{ content }}
</div> <footer>
<ul>
<li><a href="https://github.com/DiegoLazarus">github.com/DiegoLazarus</a></li>
<li><a href="https://github.com/DiegoLazarus/DiegoLazarus.github.io"> DiegoLazarus.github.io </a></li>
</ul> </footer>
</body> </html>
